body {
  background: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}

.welcome-container {
  padding-top: 20px;
  text-align: center;
}

.welcome-box {
  background: whitesmoke;
  padding: 40px 30px;
  border-radius: 15px;
  min-width: 400px;
  display: inline-block;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
}

.welcome-title {
  font-size: 32px;
  font-weight: bold;
  color: #2c3e50;
}

.welcome-subtitle {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}

.btn-main {
  background: #1d7dbd;
  color: #fff;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 20px;
  transition: 0.3s;
  display: inline-block;
}

.btn-main:hover {
  background: #166495;
  color: #fff;
}

.card-custom {
  margin: 10px auto; /* Tengah & beri jarak */
}
